/* FONTS ---------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&display=swap");

/* GENERAL --------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
.quickAddContainer select {
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
  font-size: 0.8rem;
  border: none;
  background-color: rgb(216, 229, 229);
}

button:hover {
  background: rgb(173, 172, 172);
}

button:active {
  background: rgb(146, 146, 146);
}

.pageContainer {
  position: relative;
  min-height: 100vh;
  margin: 1em;
}

.contentWrap {
  padding-bottom: 8rem;
}

/* NAVBAR ------------------------------------------------------------ */
.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 15px;
  font-size: 0.8rem;
}

.navBarContainer a,
.authBarContainer a {
  text-decoration: none;
  color: #333;
}

.navBarContainer a:hover,
.authBarContainer a:hover {
  /* font-weight: bold; */
  text-decoration: underline;
  text-underline-offset: 5px;
}

.navBarContainer a:visited {
  color: #333;
}

/* HEADER ------------------------------------------------------------ */
header {
  background: url("https://res.cloudinary.com/dbl7owtdh/image/upload/v1652287518/book_eb5yut.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fredoka One", Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
}

header h1 {
  text-align: center;
  margin: 1em;
  color: white;
}

/* AUTHBAR ------------------------------------------------------------ */
AuthBar Link {
  text-decoration: none;
}

.authBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 1em;
}

.welcomeMessage {
  text-align: center;
}

.authFormContainer {
  display: flex;
  justify-content: center;
  margin: 3em;
}

.authForm {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 20px;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.formRow label {
  text-align: left;
}

.errorMessage {
  color: tomato;
  font-style: italic;
  font-size: smaller;
  text-align: center;
}

.formButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME ------------------------------------------------------------ */
.homeContainer {
  text-align: center;
  margin: 3em;
}

/* LIBRARY / HOME  ------------------------------------------------------------ */
.booksContainer h2 {
  margin-top: 2em;
  text-align: left;
}

/* FOOTER ------------------------------------------------------------ */
footer {
  background: var(--header);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5rem;
  font-size: 14px;
  color: var(--maroon);
}

/* LIBRARY BOOK LIST (CONTAINER) ------------------------------------------------------------ */
.bookCollectionContainer {
  display: flex;
  padding: 25px 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.bookCollectionContainer:hover .bookCard {
  transform: translateX(-25%);
}

.bookCollectionContainer::-webkit-scrollbar {
  display: none;
}

/* BOOK SEARCH ------------------------------------------------------------------------- */
.bookSearchContainer {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookSearchContainer input {
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(199, 223, 223);
  width: 70%;
}

.bookSearchContainer input::placeholder {
  color: #333;
  font-style: italic;
}

.modifiedToast {
  background-color: rgb(243, 200, 200) !important;
  color: rgb(187, 70, 88) !important;
  /* font-style: italic; */
  border: 1px solid maroon;
  /* border-radius: 25px !important; */
  padding: 1em !important;
  /* font-weight: bold; */
  width: 450px;
  /* border-radius: 20px; */
}

/* SEARCHED BOOK LIST (CONTAINER) ------------------------------------------------------------ */
.searchedBookCollectionContainer {
  display: flex;
  padding: 25px 0;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.searchedBookCollectionContainer:hover .bookCard {
  transform: translateX(-25%);
}

.bookCollectionContainer::-webkit-scrollbar {
  display: none;
}

.bookSearchFormContainer {
  text-align: center;
  width: 50vw;
}

.quickAddContainer h4 {
  text-align: center;
}

.quickAddContainer select {
  padding: 1.5em;
}

/* SEARCHED BOOKCARD ------------------------------------------------------------ */
.searchedBookCard {
  background: black;
  flex: 0 0 19.7%;
  text-align: center;
  transition: transform 300ms ease 100ms;
  max-width: 6rem;
  height: 10rem;
  margin: 0.2rem;
  border: 1px solid maroon;
  position: relative;
}

.searchedBookCard:hover {
  filter: brightness(70%);
}

.searchedBookImgContainer {
  width: 4rem;
}

.searchedBookImg {
  width: 6rem;
  height: 10rem;
}

.searchedBookButtonDiv,
.bookTileIconDiv {
  display: flex;
  justify-content: right;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon,
.bookTileIcon {
  margin: 0.5em;
  padding: 0.1em;
  border-radius: 100%;
  color: rgb(255, 171, 157);
  background: none;
  font-size: 1.2em;
}

.icon:hover {
  background: none;
  color: maroon;
}

/* USER BOOKS (CONTAINER) ------------------------------------------------------------ */
.userBookCollectionContainer {
  display: flex;
  padding: 25px 0;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 100px;
}

.userBookCollectionContainer:hover .bookCard {
  transform: translateX(-25%);
}

.userBookCollectionContainer::-webkit-scrollbar {
  display: none;
}

.bookTile {
  background: black;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  max-width: 8rem;
  height: 12rem;
  position: relative;
}

.bookTile:hover ~ .bookTile {
  transform: translateX(25%);
}

.bookTile:hover {
  transform: scale(1.3) !important;
}

.bookTileImage {
  width: 8rem;
  height: 12rem;
}

.categoryTitle {
  margin: 0;
  padding: 0;
}

.bookTileIconDiv {
  /* background: none; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookTileIcon.trash {
  color: tomato;
}

/* BOOKCARD 
------------------------------------------------------------ */
.bookCard {
  flex: 0 0 17%;
  text-align: center;
  transition: transform 400ms ease 100ms;
  width: 20rem;
  height: 20rem;
  width: 100%;
}

.bookImgContainer {
  width: 20rem;
  height: 18rem;
}

.bookCard:hover ~ .bookCard {
  transform: translateX(25%);
}

.bookCard:hover {
  transform: scale(1.05) !important;
}

.bookImg {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

/* MODAL - SHOW BOOK DETAILS 
------------------------------------------------------------ */
.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  height: 700px;
  max-height: 100%;
  animation: pop-swirl 0.5s;
  background-color: rgba(44, 42, 42, 1);
}

.modalContent.scroll {
  padding: 4px;
  width: 700px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-background-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.4;
}

.colorModalText {
  color: white;
  padding: 5px;
}

.closeCircleSize {
  size: lg;
}

.closeDiv {
  float: right;
  margin-right: 30px;
  padding: 5px;
}

.bookModalImgContainer {
  width: 100%;
  height: 300px;
  margin: 25px 10px;
}

.bookImgModal {
  width: 30%;
  max-height: 100%;
  margin-top: 30px 0;
}

.bookModalInfo {
  width: 50%;
  float: right;
  margin-top: 30px;
}

.modalTitle {
  color: white;
  padding: 10px;
}

.descriptionModalContainer {
  padding: 20 0;
  margin: 0 50px;
}

.descriptionText {
  color: white;
  text-align: justify;
}

.showMoreButton {
  align-content: center;
}

/* PROFILE -------------------------------------------------------------------- */
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer h2 {
  margin: 1rem;
}

.profileInnerDiv {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.avatar {
  height: 100px;
  border: 2px solid black;
  border-radius: 100%;
  padding: 1em;
  margin: 1em;
}

.dateJoined {
  margin-bottom: 3em;
  font-style: italic;
  font-size: smaller;
}

.inputContainer {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin: 5px;
}

/* .inputContainer input {
  align-items: right;
} */

/* COLOR VARIABLES ------------------------------------------------- */
:root {
  --toastify-toast-background: red !important;
}

/* MEDIA QUERIES --------------------------------------------------- */
@media only screen and (max-width: 900px) {
  .profileInnerDiv {
    width: 50vw;
  }
}
